*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #00FFFF;
}
header{
  font-family: 'VT323', monospace;
  background-color: orange;
  text-align: center;
  border-radius: 20px 20px 20px 20px;
  font-size: 40px;
}
ul{
  padding: 0px;
  border: solid 2px black;
  background-color: orange;
  border-radius: 20px 20px 20px 20px;
  position: fixed;
  top: 100px;
}
ul li{
  padding:10px;
}
