*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #00FFFF;
}
header{
  font-family: 'VT323', monospace;
  background-color: orange;
  text-align: center;
  border-radius: 20px 20px 20px 20px;
  font-size: 40px;
}
ul{
  padding: 0px;
  border: solid 2px black;
  background-color: orange;
  border-radius: 20px 20px 20px 20px;
  position: fixed;
  top: 100px;
}
ul li{
  padding:10px;
}
#mij{
  background-color: orange;
  border-radius: 20px 20px 20px 20px;
  text-align: center;
  margin-top: 5px;
  font-size: 20px;
}
iframe{
  position: relative;
  top: 80px;
  left: 100px;
}
#ba{
  background-color: orange;
  border-radius: 20px 20px 20px 20px;
  text-align: center;
}
#pl{
  text-align: center;
}
#cod{
  width: 600px;
  height: 200px;
}
#pr{
  background-color: orange;
  border-radius: 20px 20px 20px 20px;
  text-align: center;
  margin-top: 5px;
  font-size: 20px;
}
